<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huoergai.hcp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".HcpApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".base.ShellActivity" />
        <activity android:name=".http.TestActivity" />
        <activity android:name=".l10text_transfermation.L10Activity" />
        <activity android:name=".l11animation.L11Activity" />
        <activity android:name=".l12bitmap_drawable.L12Activity" />
        <activity android:name=".l13constraintlayout.L13Activity" />
        <activity android:name=".l14motionlayout.L14Activity" />
        <activity android:name=".l21drag_nestedscroll.L21Activity" />
        <activity android:name=".l36arch.L36Activity" />
        <activity android:name=".l36arch.mvc.MvcActivity" />
        <activity android:name=".l36arch.mvvm.MvvmActivity" />
        <activity android:name=".l36arch.mvp.MvpActivity" />
        <activity android:name=".l37plugin.L37Activity" />
        <activity android:name=".l38hotfix.L38Activity" />

    </application>

</manifest>